<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>
        <section class="Material-contact-section section-padding section-dark">
            <div class="container">
                <div class="row">
                    <!-- Section Titile -->
                    <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                        <h1 class="section-title">Love to Hear From You</h1>
                    </div>
                </div>
                <div class="row">
                    <!-- Section Titile -->
                    <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                      <p>We would love to hear your feedback on our service. It will help us improve our customer services for future clients</p>
      
                      <div class="find-widget">
                       Company:  Best Car
                      </div>
                      <div class="find-widget">
                       Address: <a href="#">4435 Hogwart Street</a>
                      </div>
                      <div class="find-widget">
                        Phone:  <a href="#">+ 123-456-7890</a>
                      </div>
                      
                      <div class="find-widget">
                        Website:  <a href="#">www.bestcar.com</a>
                      </div>
                      <div class="find-widget">
                         Hours: Mon to Sat: 09:30 AM - 10.30 PM
                      </div>
                    </div>
                    <!-- contact form -->
                    <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                        <form class="shake" action ="#top" method="get"  data-toggle="validator">
                            <!-- Name -->
                            <div class="form-group label-floating">
                              <label class="control-label" for="name">Name</label>
                              <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                              <div class="help-block with-errors"></div>
                            </div>
                            <!-- email -->
                            <div class="form-group label-floating">
                              <label class="control-label" for="email">Email</label>
                              <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                              <div class="help-block with-errors"></div>
                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating">
                              <label class="control-label">Subject</label>
                              <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                              <div class="help-block with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating">
                                <label for="message" class="control-label">Message</label>
                                <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Form Submit -->
                            {% csrf_token %}
                            <div >
                                <button class="btn btn-outline-secondary">Send Message</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>

